[Desktop Entry]
Name=Simple Weather Indicator
Comment=Simple Weather Indicator
Exec=indicator-weather
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/64x64/apps/indicator-weather.png
Categories=GNOME;Weather;
StartupNotify=false
Name[en_US]=Simple Weather Indicator
