[Desktop Entry]
Type=Application
Name=Indicator Weather
Comment=Simple weather indicator
Exec=/usr/bin/indicator-weather
NoDisplay=true
StartupNotify=false
Terminal=false
OnlyShowIn=Unity;GNOME;
AutostartCondition=GNOME3 unless-session gnome
X-Ubuntu-Gettext-Domain=indicator-weather
